# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

backend/venv/

# Ignore specific files
main.cjs

# Ignore node_modules directory in bot/ subdirectory
bot/node_modules/

# Ignore node_modules directory in front-app/ subdirectory
front-app/node_modules/
